@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-position-y: 5em;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100vw;
    height: 10vh;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 0px 5px rgba(255, 255, 255, 0.24);
    background-color: rgb(6, 6, 6);
    gap: 1em;
}
.header span{
    font-size: 2em;
    color: white;
    margin-right: 10%;
    font-family: "Orbitron", sans-serif;
}
.header button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    height: 80%;
    transition: 0.2s;
    border-radius: 8px;
}
.header button:hover{
  background-color: #f8f8f8;
  color: black;
  height: 100%;
  border-radius: 0;
}
.home{
    display: flex;
    width: 80vw;
    height: 70vh;
    background-color: rgba(8, 8, 8, 0.541);
    position: relative;
    margin-top: 4em;
    padding: 1em;
    border-radius: 10px;
    flex-direction:row;
    overflow: hidden;

}
.img{
    width: 25vw;
    height: auto;
    position: relative;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 1/1;
    animation: opacidade 0.8s ease;
}
@keyframes opacidade{
  0%{opacity: 0.5;}
}

.img img{
    width: 100%;
    height:auto;
    object-fit: cover;
    position: absolute;
    aspect-ratio: 1/1;

}
.sp1{
    color: white;
    font-size: 2.0em;
}

.inicio {
  display: flex;
  padding-left: 2em;
  flex-direction: column;
  width: 50%;
  animation: chegar 0.8s ease;
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.8s ease;
  overflow-y: auto;
}
@keyframes chegar {
  0% { transform: translateX(-20%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes sair {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(20%); opacity: 0; }
}
.inicio p{
    color: white;
    font-size: 1.1em;
}

.projetos {
  display: none;
  flex-direction: column;
  padding-left: 2em;
  width: 50%;
  opacity: 0;
  transform: translateX(-20%);
  transition: opacity 0.8s ease, transform 0.8s ease;
  color: white;
  overflow-y: auto;

}
.cv{
    border: none;
    background-color: rgb(233, 70, 70);
    padding: 0.5em 0.2em;
    width: 12em;
    font-size: 1.1em;
    cursor: pointer;
    color: white;
    margin-top: 20%;
    transition: 0.2s;
    border-radius: 7px;
}
.cv:hover{
    background-color: rgb(223, 31, 31);
    border-radius: 0;
}
.card{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.card span{
    position: relative;
    color: white;
    font-size: 1.5em;
    margin-top: 1em;
}

/* From Uiverse.io by wilsondesouza */ 
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  
  .fundocontato{
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.500);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 0.5s;
  }
  .contato{
    background-color: rgb(12, 12, 12);
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    color: white;
    font-size: 1.6em;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
  }
  .contato span{
    position: relative;
    top: 0;
    right: 0;
  }
  .contato .example-2{
    margin: 0;
  }


  /*background*/

  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 105vw;
    height: 105vh;
    top: 0;
    left: 0;
    background: #080808;
    overflow: hidden;
    
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #b60d0d20;
    top: 69%;
    left: 30%;
    animation-duration: 33s;
    animation-delay: -47s;
    transform-origin: -22vw -7vh;
    box-shadow: -100vmin 0 13.09858307824004vmin currentColor;
}
.background span:nth-child(1) {
    color: #b60d0d20;
    top: 14%;
    left: 100%;
    animation-duration: 41s;
    animation-delay: -7s;
    transform-origin: -21vw 15vh;
    box-shadow: -100vmin 0 13.447756196357368vmin currentColor;
}
.background span:nth-child(2) {
    color: #b60d0d20;
    top: 100%;
    left: 10%;
    animation-duration: 39s;
    animation-delay: -15s;
    transform-origin: 1vw -12vh;
    box-shadow: -100vmin 0 13.23269611358415vmin currentColor;
}
.background span:nth-child(3) {
    color: #b60d0d20;
    top: 79%;
    left: 29%;
    animation-duration: 31s;
    animation-delay: -12s;
    transform-origin: 6vw -2vh;
    box-shadow: 100vmin 0 13.34464802679059vmin currentColor;
}
.background span:nth-child(4) {
    color: #b60d0d20;
    top: 26%;
    left: 18%;
    animation-duration: 49s;
    animation-delay: -50s;
    transform-origin: 2vw -12vh;
    box-shadow: -100vmin 0 13.197540882204915vmin currentColor;
}
.background span:nth-child(5) {
    color: #b60d0d20;
    top: 38%;
    left: 80%;
    animation-duration: 21s;
    animation-delay: -32s;
    transform-origin: -24vw 5vh;
    box-shadow: -100vmin 0 13.33474317371666vmin currentColor;
}
.expandir{
  display: none;
}
.iconemoveis{
  display: none;
}
.headertext{
  display: none;
}
@media (max-width:1000px) {
  .example-2{
    position: relative !important;
    left: 0 !important;
  }
  .card span{
    right: auto;
  }
}
@media (max-width:600px){
  .icon-content{
    scale: 0.8;
    margin: 0 !important;
    
  }
  .card{
    display: none;
  }
  .inicio{
    width: 100%;
  }
  .projetos{
    width: 100%;
  }
  .expandir .card{
    display: flex;
    width: 50vw;
    height: 100vh;
    right: 0;
    position: absolute;
    background-color: #080808;
    z-index: 999;
    animation: chegadacard 0.2s;
    padding-top: 20%;
  }
  .expandir .card .example-2{
    margin-top: 0 !important;
  }
  @keyframes chegadacard{
    0%{transform: translateX(50%);}
  }
  @keyframes saircard {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(50%); opacity: 0; }
  }

  .expandir{
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 600;
    background-color: rgba(0, 0, 0, 0.500);
  }
  .iconemoveis{
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    right: 0;
    aspect-ratio: 1 / 1;
    margin-left: auto;
  }
  .headertext{
    display: flex;
    flex-direction: row;
    padding-right: 1em;
  }
  .headertextnormal{
    display: none;
  }
}